#container { 
    width : 700px;
    margin : 0 auto 0 auto;
    padding-bottom : 30px;
}

#quick_links, 
#searchbox, 
#toolbox { text-align : right; }

#searchbox { position : fixed; top : 35px; right : 20px;  }

#quick_links a, #toolbox a { margin-left : 10px ; font-size : 14px; padding : 3px; }

#title { margin-top : 40px; }
#content {  margin-top : 40px; }

pre {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #D7D7D7;
    margin: 1em 1.75em;
    overflow: auto;
    padding: 0.25em;
}

/* fix table border */
th, td {
    border : 1px solid #ccc;
    padding : 5px;
}

th {
    border : 2px solid #bbbbbb;
    padding : 5px;
}

table  {
    margin-top: 20px;
}
    

blockquote { 
    margin: -0.6em 0;
    border-style: solid; 
    border-width: 0 0 0 2px; 
    padding-left: 2em;
    border-color: #b44; 
    margin-left: 1em;
}
/* .citation blockquote.citation { border-color: #4b4; } */
/* .citation .citation blockquote.citation { border-color: #44b; } */
/* .citation .citation .citation blockquote.citation { border-color: #c55; } */

a { color: #0e4c8a; text-decoration: none; border-bottom: 1px dashed #ccc; }
a:hover { color: #0f65b8; text-decoration: underline; border-bottom: 0px; }


footer { text-align: center; font-size: 12px; color: #666; }
footer .hide { display: none; }


/* paginator */
#previous_page_btn {
    display: table;
    padding: 10px;
    text-align: center;
    position: fixed;
    height: 300px;
    width: 150px;
    left: 10px;
}

#next_page_btn {
    display: table;
    padding: 10px;
    text-align: center;
    position: fixed;
    height: 300px;
    width: 150px;
    right: 10px;
}

#previous_page_btn a,
#next_page_btn a {
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
}



h1, h2, h3, h4, h5, h6 {
    margin-left: -30px;
}    
