*.pyc
*.pyo
*.html
.DS_Store
.hg
.hgignore
t.py
error_log.txt
info_log.txt
pages/
TODO.md
build/
dist/
.idea/
.ropeproject/
ignore/
sessions/
scripts/conf.py
experimental/migrate_from_trac_wiki_to_zwiki_conf.py
