body { 
    font-family: Palatino, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    line-height: 1.4;
    padding-bottom: 85px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Palatino, Georgia, Times, 'Times New Roman', serif; 
}
