#toc { 
    position : fixed;
    top : 80px;
    right : 20px;
    padding: .5em 1em;
    border: 1px outset #ddc;
    background: #ffd;
}

#toc ul { 
    list-style : none; 
    /* fix it on webkit */
    -webkit-padding-start: 0px;
    /* fix it on Gecko */
    padding-left : 0px;
}

#toc a { display : block; }

/* #toc .h1 { padding-left : 0px; } */
#toc .h2 { padding-left : 0em; }
#toc .h3 { padding-left : 1em; }
#toc .h4 { padding-left : 2em; }
#toc .h5 { padding-left : 3em; }
#toc .h6 { padding-left : 4em; }
