#container { 
    width : 700px;
    margin : 0 auto 0 auto;
    padding-bottom : 30px;
}

#quicklinks, 
#searchbox, 
#toolbox { text-align : right; }

#searchbox { position : fixed; top : 35px; right : 20px;  }

#quicklinks a, #toolbox a { margin-left : 10px ; font-size : 14px; padding : 3px; }

#title { margin-top : 40px; }
#content {  margin-top : 40px; }

pre {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #D7D7D7;
    margin: 1em 1.75em;
    overflow: auto;
    padding: 0.25em;
}

/* fix table border */
th, td {
    border : 1px solid #ccc;
    padding : 5px;
}

th {
    border : 2px solid #bbbbbb;
    padding : 5px;
}

table  {
    margin-top: 20px;
}
    

blockquote { 
    margin: -0.6em 0;
    border-style: solid; 
    border-width: 0 0 0 2px; 
    padding-left: 2em;
    border-color: #b44; 
    margin-left: 1em;
}
/* .citation blockquote.citation { border-color: #4b4; } */
/* .citation .citation blockquote.citation { border-color: #44b; } */
/* .citation .citation .citation blockquote.citation { border-color: #c55; } */

a { color: #000; text-decoration: none; border-bottom: 1px dashed #ccc; }
a:hover { color: #666; text-decoration: underline; border-bottom: 0px; }